/******************************************************************************
 * Content
 ******************************************************************************/

body {
  padding-bottom: 70px;
  color: var(--global-text-color);
  background-color: var(--global-bg-color);

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    scroll-margin-top: 66px;
  }
}

body.fixed-top-nav {
  // Add some padding for the nav-bar.
  padding-top: 56px;
}

body.sticky-bottom-footer {
  // Remove padding below footer.
  padding-bottom: 0;
}

.container {
  max-width: $max-content-width;
}

// Profile
.profile {
  img {
    width: 100%;
  }
}

/* Banner */

/* Layout */
.top-banner, .top-banner div {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.top-banner {
    background: #052049;
    height: 32px;
    font-size: 14px;
    text-align: center;
    width: 100%;
}

.top-banner .inner {
    margin: 0 auto;
    width: 900px;
}

.top-banner div.inner div {
    float: left;
    padding: 8px 0 7px 30px;
    text-align: left;
}

.top-banner.logo div.inner div {
    padding: 13px 0 13px 0;
}

.top-banner.logo,.top-banner.logo .inner,.top-banner.logo div.inner div {
    height: 40px;
}

.top-banner div.inner div.nav {
    float: right;
    padding-right: 16px;
    text-align: right;
}

.top-banner ul, .top-banner li {
    display: inline;
    margin: 0;
    padding: 0;
}

.top-banner a {
    color: #ffffff;
    display: inline;
    text-decoration: none;
}

.top-banner a:hover {
    text-decoration: none;
    color: #052049;
}

.top-banner.logo .inner {
    height: 40px;
    background: url("../assets/img/10.jpg") 30px 50% no-repeat;
    padding-left: 97px;
}


// TODO: redefine content layout.

/******************************************************************************
 * Publications
 ******************************************************************************/

// TODO: redefine publications layout.

/*****************************************************************************
* Projects
*****************************************************************************/

// TODO: redefine projects layout.
